@model Tagarela.Models.Mensagem

<div class="sixteen columns alpha omega" id="shout-form">
     <form asp-action="Create">
        <label>O que você quer TAGARELAR?</label>
        <textarea asp-for="Conteudo"></textarea>
        <input type="submit" value="MANDA BALA!">
    </form>
</div>